# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [52]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [53]:
url  = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [54]:
chipo = pd.read_csv(url,sep='\t')

### Step 4. See the first 10 entries

In [55]:
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

### Step 5. What is the number of observations in the dataset?

In [56]:
# Solution 1
chipo.shape[0]

4622

In [57]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 6. What is the number of columns in the dataset?

In [58]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [59]:
chipo.columns

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [60]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [61]:
chipo.groupby(["item_name"])["quantity"].agg({"quantity":sum}).sort_values(by="quantity",ascending=False).head(1)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

              quantity
item_name
Chicken Bowl       761

### Step 10. For the most-ordered item, how many items were ordered?

In [62]:
chipo.groupby(["item_name"])["quantity"].agg({"quantity":sum}).sort_values(by="quantity",ascending=False).head(1)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

              quantity
item_name
Chicken Bowl       761

### Step 11. What was the most ordered item in the choice_description column?

In [63]:
chipo.groupby(["choice_description"])["quantity"].agg({"quantity":sum}).sort_values(by="quantity",ascending=False).head(1)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

                    quantity
choice_description
[Diet Coke]              159

### Step 12. How many items were orderd in total?

In [64]:
print(chipo["item_name"].nunique())
print(chipo["quantity"].sum())

50
4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [65]:
type(chipo["item_price"])

pandas.core.series.Series

#### Step 13.b. Create a lambda function and change the type of item price

In [67]:
chipo["item_price"] = chipo["item_price"].apply(lambda x: float(x[1:]))

In [68]:
chipo["item_price"].head(5)

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

#### Step 13.c. Check the item price type

In [31]:
chipo["item_price"].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [71]:
revenue = np.round((chipo["item_price"]  * chipo["quantity"]).sum(),2)
print("Total revenue for the period is : $%s"%(str(revenue)))

Total revenue for the period is : $39237.02

### Step 15. How many orders were made in the period?

In [73]:
chipo["order_id"].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [74]:
# Solution 1
avg_rev = (chipo["item_price"]  * chipo["quantity"]).sum() / chipo["order_id"].nunique()
print("avergage revenue is $%s"%(str(np.round(avg_rev,2))))

avergage revenue is $21.39

### Step 17. How many different items are sold?

In [78]:
chipo["item_name"].value_counts().count()

50